{% extends "AppBundle::default.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Tasks</h1>
                <hr>
                <a href="{{ path('projects') }}" class="btn btn-sm btn-primary">Projects</a>
                <hr>
                    {% set status = null %}
                    {% if tasks|length > 0 %}
                        {% for task in tasks %}
                            {% if status != task.status or status == null %}
                            <table class="table">
                                <caption style="caption-side: top">{{ task.status }}</caption>
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Priority</th>
                                    <th scope="col">Details</th>
                                </tr>
                                </thead>
                                <tbody>
                            {% endif %}
                                <tr>
                                    <th scope="row">{{ task.id }}</th>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.date|date('Y-m-d') }}</td>
                                    <td>{{ task.priority }}</td>
                                    <td><a href="{{ path('task',{id:task.id}) }}" class="btn btn-sm btn-primary">see more</a></td>
                                </tr>
                            {% if status == task.status and status != null %}
                                </tbody>
                            </table>
                            {% endif %}
                            {% if status != task.status %}
                                {% set status = task.status %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}