{% extends "AppBundle::default.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Projects</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Client name</th>
                        <th scope="col">Percentage</th>
                        <th scope="col">Tasks</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <th scope="row">{{ project.id }}</th>
                            <td>{{ project.name }}</td>
                            <td>{{ project.clientName }}</td>
                            <td>{{ percentageProject.count(project.id) }}%</td>
                            <td><a href="{{ path('project',{id:project.id}) }}" class="btn btn-sm btn-primary">see more</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}