{% extends "AppBundle::default.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Task details</h1>
                <hr>
                <a href="{{ path('projects') }}" class="btn btn-sm btn-primary">Projects</a>
                <hr>
                <p>

                    <b>Name: </b>{{ task.name }} <br>
                    <b>Date: </b>{{ task.date|date('Y-m-d') }} <br>
                    <b>Priority: </b>{{ task.priority }} <br>
                    <b>Prioject name: </b>{{ task.project.name }} <br>
                    <b>Employee: </b>{{ task.employee.name }} {{ task.employee.surname }}, {{ task.employee.email }} <br>
                    <b>Description: </b>{{ task.description }} <br>

                </p>
            </div>
        </div>
    </div>
{% endblock %}